body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #18191F;
    margin: 0;
}

section {
    background-color:#D5FAFC;
}

h1,
h2,
p {
margin: 0;
}

* {
    box-sizing: border-box;
}

.conteiner {
    width: 926px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    margin-left: 32px;
    margin-bottom: 0;
}

p {
    line-height: 32px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 24px;
}

.left {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    width: 445px;
}

.top-text {
    width: 445px;
    margin-bottom: 52px;
}

.description {
    margin: 8px 0;
}

.bottom-text {
    width: 350px;
    background-color: #FFFFFF;
    margin-left: 78px;
    padding: 32px;
    border-radius: 8px;
}

.feedback,
.feedback_right,
.feedback_right1 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
}

.right {
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    width: 451px;
}

.top-text2 {
    width: 445px;
    background-color: #FFFFFF;
    margin-top: 169px;
    margin-left: 36px;
    padding: 32px;
    border-radius: 8px;
}

.bottom-text2 {
    width: 350px;
    background-color: #FFFFFF;
    margin-top: 32px;
    margin-left: 30px;
    margin-bottom: 80px;
    padding: 32px;
    border-radius: 8px;
}